* {
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 700px;
    margin: 0 auto;
    box-shadow: 0 0 10px 0 rgba(201, 201, 201, 0.3);
    padding: 20px;
    border-radius: 5px;
}
.container {
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 0 10px 0 rgba(201, 201, 201, 0.3);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}
header nav ul li a {
    text-decoration: none;
    color: #000;
    font-family: sans-serif;
}
h1 {
    margin-bottom: 30px;
    text-align: center;
}
.form-group label {
    display: block;
    font-family: serif;
    font-size: 15px;
    margin-bottom: 10px;
}
.form-group input,
.form-group select {
    display: block;
    width: 80%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.form-submit input {
    background-color: black;
    color: #fff;
    outline: none;
    padding: 10px 35px;
}
.result {
    padding: 30px;
    background: #eee;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 18px;
}

.personal-info-wrap p {
    font-size: 20px;
    margin-bottom: 10px;
}
